site_name: protist-traits-docs
site_description: Documentation for protist-traits
site_author: Frederik De Boever
site_url: https://FDBoever.github.io/protist-traits-docs/

repo_name: FDBoever/protist-traits
repo_url: https://github.com/FDBoever/protist-traits
edit_uri: edit/main/docs/

theme:
  name: material
  font:
    text: Roboto
    code: Red hat Mono
  logo: assets/overview.png
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.copy
  palette:
  #dark mode
  - scheme: slate
    toggle:
      icon: material/weather-sunny
      name: Dark mode
    primary: black
    accent: deep purple
  #light mode
  - scheme: default
    toggle:
      icon: material/weather-night
      name: Light mode
    primary: black
    accent: deep organe

nav:
  - Home: index.md
  - Quickstart: quickstart.md

  - Principles:
      - Principles overview: principles/overview.md
      - Guiding principles: principles/guiding _principles.md
      - Assertions: principles/assertions.md
      - Features and Traits: principles/features_and_traits.md
      - Taxa, materials and sources: principles/taxa_material_source.md
      - Qualifiers: principles/qualifiers.md
      - Taxa vs materials: principles/taxa_vs_materials.md
      - Assertions to synthesis: principles/assertions2synthesis.md

  - Ontology:
      - Ontology overview: ontology/ontology_overview.md
      - Ecology Ontoloty (ECO): ontology/ecology_ontology.md

  - Design:
      - Design overview: design/index.md
      - Public databases: design/public-databases.md
      - Public database integration: design/public-database-integration.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
       generic: true

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css


plugins:
  - search

copyright: Copyright &copy; 2025-2026 Frederik De Boever